{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% load crispy_forms_field %}

{% block body %}
<div class="container text-center">
  <h1 class="moon-font page-title">Pyular</h1>
  <h4 class="center">Python Regular Expression Playground</h4>
</div>


<div id="pyular-form">

  <form method="post" novalidate hx-post="{% url 'home' %}" hx-trigger="keyup delay:500ms" hx-target="#reg-target"
    autocomplete="off" />

  {% csrf_token %}

  <div class="mx-3">
    <label for="id_expression">Enter your regular expression here!</label>
    {{ form.expression }}
  </div>
 

  <div class="d-flex flex-wrap " >
   
      <div class="mx-3 my-3 flex-fill">
        <label for="id_sample">Experiment with a test string below:</label>
        {{ form.sample }}
      </div>
    

    <div class="mx-3 my-3 flex-fill">
      <div class="htmx-indicator hide-opacity" id="progress-indicator">Processing</div>
      <div id="reg-target">
        <div class="text-muted text-center text-computed-result"></div>
        {% include 'home/_index.html' %}
      </div>
    </div>
  </div>

  
  </form>

</div>


{% endblock body %}