{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% load crispy_forms_field %}

{% block body %}
<h1 class="moon-font page-title center">Pyular</h1>
<h4 class="center">Python Regular Expression Playground</h4>


<div class="htmx-indicator" id="progress-indicator">Processing</div> 
<div id="pyular-form">

  <form method="post" 
    hx-post="{% url 'home' %}" 
    hx-trigger="keyup delay:250ms" 
    hx-target="#reg-target"
    autocomplete="off"
/>

  {% csrf_token %}  
<div class="row">
  <div class="col-md-12">
    <div class="my-2">    
      {{ form.expression }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="my-2">    
      {{ form.sample }}
    </div>
  </div>

  <div class="col-md-6" id="reg-target">
    <div class="text-muted text-center text-computed-result">Computed Result</div>
    {% include 'home/_index.html' %}  
  </div>
  </form>
  
</div>


{% endblock body %}